.footer {
  $this: ".footer";

  background-color: #ebebeb;
  padding: 50px 0;

  &__title {
    text-transform: uppercase;
    color: #3b3b3b;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 15px;
  }

  &__link {
    display: block;
    margin-bottom: 10px;
    color: #3b3b3b;
    text-decoration: none;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__section {}

  &__copyright-section {
    text-align: right;
  }

  @include breakpoint('small-only') {
    padding-bottom: 0;
    padding-top: 30px;

    &__section {
      padding-bottom: 25px;
    }

    &__title {
      margin-bottom: 10px;
    }

    &__link {
      margin-bottom: 5px;
      font-size: 13px;
    }

    &__copyright-section {
      text-align: center;
      background-color: #dcdcdc;
      padding-top: 15px;
      padding-bottom: 15px;

      p {
        font-size: 12px;
      }
    }

    &__logo {
      width: 120px;
      margin-bottom: 5px;
    }
  }
}
